@media screen and (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}
/*----font style-----*/
@font-face {
    font-family: HelveticaNeueLTStdRoman;
    src: url(/font/HelveticaNeueLTStdRoman.woff2);
}
@font-face {
    font-family: HelveticaNeueLTStdBd;
    src: url(/font/HelveticaNeueLTStdBd.woff2);
}
@font-face {
    font-family: HelveticaNeueLTStdMdCn;
    src: url(/font/HelveticaNeueLTStdMdCn.woff2);
}
@font-face {
    font-family: HelveticaNeueLTStdMd;
    src: url(/font/HelveticaNeueLTStdMd.woff2);
}
@font-face {
    font-family: HelveticaNeueLTStdLtCn;
    src: url(/font/HelveticaNeueLTStdLtCn.woff2);
}
@font-face {
    font-family: HelveticaNeueLTStdBdCn;
    src: url(/font/HelveticaNeueLTStdBdCn.woff2);
}

.font-HelveticaNeueRoman{
        font-family: 'HelveticaNeueLTStdRoman', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-HelveticaNeueBd{
    font-family: 'HelveticaNeueLTStdBd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-HelveticaNeueLTStdMdCn{
    font-family: 'HelveticaNeueLTStdMdCn', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-HelveticaNeueLTStdMd{
    font-family: 'HelveticaNeueLTStdMd', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-HelveticaNeueLTStdLtCn{
    font-family: 'HelveticaNeueLTStdLtCn', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.font-HelveticaNeueLTStdBdCn{
    font-family: 'HelveticaNeueLTStdBdCn', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.ellipsis-2{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/*----splide js custom css-----*/
#thumbnail-carousel .splide__track--nav>.splide__list>.splide__slide {
    border: 1px solid #a1ca48 !important;
}
#thumbnail-carousel .splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 2px solid #a1ca48 !important;
}

#main-carousel .splide__pagination__page{
    border-radius: 6px;
    border: 1px solid #858585;
    display: block;
    height: 5px;
    background-color: white;
    left: 6px;
    position: relative;
    top: 30px;
    width: 5px;
}
#main-carousel .splide__pagination__page.is-active{
    background-color: #ff5501;
    border-color: #ff5501;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
